OPENAI_API_KEY=your_openai_api_key_here
GOOGLE_API_KEY=your_google_api_key_here
LANGCHAIN_API_KEY=your_langchain_api_key_here

MODEL_PROVIDER=openai

PG_HOST=localhost
PG_PORT=5432
PG_DATABASE=ghisi_rag
PG_USER=ghisi
PG_PASSWORD=ghisi

OPENAI_EMBEDDING_MODEL=text-embedding-3-small
OPENAI_LLM_MODEL=gpt-5-nano
OPENAI_EMBEDDING_DIMENSIONS=1536

GEMINI_EMBEDDING_MODEL=text-embedding-004
GEMINI_LLM_MODEL=gemini-2.5-flash-lite
GEMINI_EMBEDDING_DIMENSIONS=3072
